<!--タイムライン部分テンプ-->

<div class="col-md-12" style="font-weight: bold; background: #F3EFE0;">
  <% posts.each do |post| %>
    <div class="row">
      <div class="post-divider">
        <div class="col-12 mt-3">
          <%= image_tag post.user.get_profile_image, size: '50x50', class: "mb-3 mr-3 rounded-circle" %>
          <i class="fas fa-user"></i> By <%= link_to post.user.user_name, user_path(post.user.id) %> ｜ <%= post.user.account_id %>
          <%= post.created_at.strftime('%Y/%m/%d') %>
        </div>

        <div class="col-10">
          <p class="card-text"><%= link_to post.body, post_path(post.id) %></p>
          <% if post.post_image.attached? %>
            <%= image_tag post.get_image, size: '100x100' %>
          <% else %>
            <p></p>
          <% end %>
        </div>
        <br>
        <div class="col-12"> <!-- ボタン類を表示するカラムを変更 -->
          <div class="row">
            <div class="col-6 text-right"> <!-- いいねボタン -->
              <%= render "public/likes/btn", post: post %>
            </div>
            <div class="col-6 text-right"> <!-- コメント数 -->
              <i class="fa-regular fa-comment-dots"></i>
              <%= link_to new_post_path(post), class: "text-dark" do %>
                <%= post.post_comments.count %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



