
<div class='col-md-8 offset-md-1'>

  		<h2>Post</h2>

      <table class='table'>
        <tbody>
          <tr>
            <td>
              <%= link_to(@post.user) do %>
              <%= image_tag @post.user.get_profile_image, size:"100x100", class:"mt-3 rounded-circle";  %><br>
              <%= @post.user.user_name %>
              <% end %>
            </td>
              <td><%= link_to @post.body, @post %></td>
              <td>コメント件数：<%= @post.post_comments.count %></td>
              <td><%= @post.body %></td>
              <td><%= render 'public/likes/btn', post: @post %></td>
            </td>

            <% if @post.user == current_user %><!--もし、本の投稿をしたユーザーと現在ログインしているユーザーが一致していたら下記を表示-->
              <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <div id="comment_index">
         <%= render "public/post_comments/index", post: @post %>
      </div>
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
    </div>
