<div class = "container" style = "text-center">
  <div class = "row" style = "padding: 30px;">
    <div class = "col text-center">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class = "table table-borderless">
        <tr class = "row">
          <td class = "col-1"></td>
          <td class = "col-2 text-center" ><strong>管理者ログイン</strong></td>
          <td></td>
        </tr>

        <tr class = "row">
          <td class = "col-2"></td>
          <td class = "col-2 text-left"><%= f.label :メールアドレス %></td>
          <td class = "col-4 text-left"><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "50" %></td>
        </tr>

        <tr class = "row">
          <td class = "col-2"></td>
          <td class = "col-2 text-left"><%= f.label :パスワード %></td>
          <td class = "col-4 text-left"><%= f.password_field :password, autocomplete: "current-password", :size => "50" %></td>
        </tr>

        <tr class = "row">
          <td class = "col-2"></td>
          <td class = "col-2"></td>
          <td class = "col-4 text-left"><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>