<div class='offset-md-1'>
  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", users_path %>
  </div>
  <% @entries.each do |e| %>
    <% if @myUserId != e.user.id %>
      <h2><%= e.user.user_name %>さんとのやりとり</h2>
    <% end %>
  <% end %>
</div>

<% @messages.each do |m| %>
  <div class="row justify-content-center mt-2"> <!-- 余白を追加 -->
    <% if m.user == current_user %>
      <div>
        <%= image_tag m.user.get_profile_image, size:'80x80', class: "mb-3 rounded-circle mr-3 profile-image align-top" %>
      </div>
      <div class="col-10">
        <div class="says">
          <i class="fas fa-user"></i> By <%= m.user.user_name %> <br>
          <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
          <%# if @message.message_image.attached? %>
              <%#= image_tag message.get_image, size: '100x100' %>
          <%# else %>
            <!--<p></p>-->
          <%# end %>
          <span><%=  m.created_at.strftime('%Y/%m/%d/%H:%M') %></span>
        </div>
      </div>
    <% else %>
      <div class="col-10">
        <div class="other-user-says">
          <i class="fas fa-user"></i> By <%= m.user.user_name %> <br>
          <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
          <%# if @message.message_image.attached? %>
              <%#= image_tag message.get_image, size: '100x100' %>
          <%# else %>
            <!--<p></p>-->
          <%# end %>
          <span><%= m.created_at.strftime('%Y/%m/%d/%H:%M')  %></span>
        </div>
      </div>
      <div>
        <%= image_tag m.user.get_profile_image, size:'80x80', class: "mb-3 rounded-circle ml-3 profile-image align-top" %>
      </div>
    <% end %>
  </div>
<% end %>

</br>
    <%= form_with model: @message, url: '/messages', method: :post do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい", size: 70 %>
      <%#= f.file_field :message_image, class: "form-control-file message_image", accept: 'image/*' %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "返信", class: "btn btn-primary", style: "background-color: #6499E9;" %>
    <% end %>
