
<div class="left-button">
  <%= link_to "ユーザー一覧に戻る", users_path %>
</div>
<h4 class="rooms-title">気になる同士</h4>
<% @entries.each do |e| %>
  <div class="user-name">
  <strong>
    <%= image_tag e.user.get_profile_image, size:'50x50' %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.user_name %>さん
      </a>
  </strong>
  </div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @message.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <%= image_tag m.user.get_profile_image, size:'50x50' %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.content %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div class="posts">
      <%= form_for @message do |f| %>
        <%= f.text_field :content, placeholder: "メッセージを入力して下さい" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: 'form-submit' %>
      <% end %>

  </div>
</div>