
<%= form_with url: search_path, method: :get, local: true do |f| %>
 <div class="search-wrap03">
  <%= f.text_field :content, placeholder: "ðŸ”search", class: "search-area" %>
  <%= f.select :model, options_for_select({"User" => "user", "Post" => "post"}) %>
  <%= f.submit "æ¤œç´¢", class: "search-btn" %>
 </div>
<% end %>

<%#= f.select :method, options_for_select({"éƒ¨åˆ†ä¸€è‡´" => "partial"}) %>
  <!--<input type="text" class="search-area" placeholder="ã‚­ãƒ¼ãƒ¯ãƒ¼ãƒ‰å…¥åŠ›">-->
  <!--<button type="button" class="search-btn">æ¤œç´¢</button>-->
=======
<%= form_with url: search_path, method: :get, local: true do |f| %>
  <%= f.text_field :content, placeholder:"ðŸ”search" %>
  <%= f.select :model, options_for_select({"User" => "user", "Post" => "post"}) %>
  <%#= f.select :method, options_for_select({"éƒ¨åˆ†ä¸€è‡´" => "partial"}) %>
  <%= f.submit "æ¤œç´¢" %>
<% end %>


>>>>>>> origin/main
<%#= f.select :method, options_for_select({"å®Œå…¨ä¸€è‡´" => "perfect", "å‰æ–¹ä¸€è‡´" => "forward", "å¾Œæ–¹ä¸€è‡´" => "backward", "éƒ¨åˆ†ä¸€è‡´" => "partial"}) %>
