<%= render 'layouts/error', obj: resource %>
<div class = "container">
  <h3 class = "col-4">musicaを始めよう！</h3>
    <div class = "row" style = "margin: 10px;">

      <div class = "col-5">
        <%= form_with model: @user, url: user_registration_path do |f| %>

          <div class="field">
            <%= f.label :ユーザー名 %><br />
            <%= f.text_field :user_name, class: "form-control", placeholder:"例：musica" %>
          </div>

          <div class="field">
            <%= f.label :アカウントID %><br />
            <%= f.text_field :account_id, class: "form-control", placeholder:"例：@musica_123" %>
            <% if @user.errors[:account_id].any? %>
              <div class="error">
                <% @user.errors[:account_id].each do |error| %>
                  <%= error %>
                <% end %>
              </div>
            <% end %>
              <p>※先頭に英数字の@を付けて下さい。半角英数字、アンダースコアのみ使用可能</br>
              6文字以上で入力してください。</p>
            </div>

          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, "パスワード再入力" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "アカウントを作成" %>
          </div>
        <% end %>

      </div>
    </div>
      <div><strong>既に登録済みの方</strong></div>
      <div><%= link_to "こちら", user_session_path %>からログインしてください。</div>
</div>
