<div class="container o-8column">
  <div class="row">
    <h4 class="col-4 text-center" style="background:#EAC7C7"><%= @user.user_name %>さんの会員詳細</h4>
  </div>
  <table class="table table-borderless" style="width: 60%;">
    <tbody>
      <tr class="row">
        <td class="col-3" style="background-color:lightgray">会員ID</td>
        <td class="col"><%= @user.id %></td>
        <td></td>
      </tr>

      <tr class="row">
        <td class="col-3" style="background:#EAC7C7">ユーザー名</td>
        <td class="col-2"><%= @user.user_name %></td>
      </tr>

      <tr class="row">
        <td class="col-3" style="background-color:lightgray">アカウントID</td>
        <td class="col-2"><%= @user. account_id %></td>
      </tr>

      <tr class="row">
        <td class="col-3" style="background-color:lightgray">メールアドレス</td>
        <td class="col"><%= @user.email %></td>
        <td class="col"></td>
      </tr>

      <tr class="row">
        <td class="col-3" style="background:#EAC7C7">会員ステータス</td>
        <td class="col"><%= @user.is_deleted ? '退会' : '有効' %></td>
      </tr>

      <tr class="row">
        <td class="col"></td>
        <td><%= link_to "編集する", edit_admin_user_path(@user.id), :class => "btn btn-secondary" %></td>
      </tr>
    </tbody>
  </table>
</div>