<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 sticky-top', style='font-weight: bold; background:#6554AF;'>
      <h2>サイドバー</h2>
        <%= render 'public/users/sidebar', user: current_user %>
    </div>

    <div class='container'>
      <div class='row'>
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h2>プロフィール編集</h2>
        <%= form_with model:@user, local:true do |f| %>
          <div class="form-group">
            <%= f.label :ユーザー名 %>
            <%= f.text_field :user_name, class: "form-control name" %>
          </div>
         <div class="form-group">
            <%= f.label :image %>
            <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
            <%= image_tag @user.get_profile_image, size: '50x50', class: "mt-3 rounded-circle" %>
          </div>
          <div class="form-group">
            <%= f.label :自己紹介 %>
            <%= f.text_area :introduction, class: "form-control introduction" %>
          </div>
          <div class="form-group">
            <%= f.submit "保存" %>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to "退会する", users_confirm_withdraw_path(@user), class: "btn btn-secondary" %>