
  <% if admin_signed_in? %>
    <li class="nav-item">
      <%= link_to admin_users_path, class: "nav-link text-light" do %>
        <i class="fas fa-users"></i> 会員一覧
      <% end %>
    </li>
     <li class="nav-item">
      <%=  link_to admin_posts_path ,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-icons"></i> タイムライン
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
      <% end %>
    </li>
    <br>
  <div class="text-center">
    <%= render "admin/searches/form" %>
  </div>
  <% elsif user_signed_in? %>
    <li class="nav-item">
      <%= link_to user_path(current_user), class: 'nav-link text-light' do %>
        <i class="fas fa-home"></i> My page
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_post_path(current_user), class: 'nav-link text-light' do %>
        <i class="fa-solid fa-user-pen"></i> 投稿
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to users_path, class: 'nav-link text-light' do %>
        <i class="fas fa-users"></i> Users
      <% end %>
    </li>
    <li class="nav-item">
      <%=  link_to posts_path ,class: 'nav-link text-light' do %>
        <i class="fa-solid fa-icons"></i> タイムライン
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to favorites_path(user_id: current_user.id), class: 'nav-link text-light' do %>
        <i class="fa-solid fa-music"></i> Favorite Artist
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to liked_posts_user_path(current_user), class: 'nav-link text-light' do %>
        <i class="fa-regular fa-heart"></i> Likes
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to rooms_path, class: 'nav-link text-light' do %>
        <i class="fa-regular fa-envelope"></i> DM
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to notifications_path, class: "nav-link text-light" do %>
        <i class="fa-sharp fa-solid fa-bell"></i>通知一覧
      <% end %>
    </li>

    <li class="nav-item">
      <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
        <i class="fas fa-sign-out-alt"></i> Log out
      <% end %>
    </li>
     <br>
<<<<<<< HEAD
    <div class="text-center">
      <%= render "public/searches/form" %>
    </div>
=======
<div class="text-center">
  <%= render "public/searches/form" %>
</div>
>>>>>>> origin/main
  <% else %>
<!-- ログインしていない場合の項目 -->
    <li class="nav-item">
      <%= link_to about_path, class: 'nav-link text-light' do %>
        <i class="fas fa-link"></i> About
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_user_registration_path, class: 'nav-link text-light' do %>
        <i class="fas fa-user-plus"></i> Sign up
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_user_session_path, class: 'nav-link text-light' do %>
        <i class="fas fa-sign-in-alt"></i> Log in
      <% end %>
    </li>
  <% end %>



